<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Budgeting App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Welcome to Budget management application</h1>
        <h2>This web application will help you to manage your daily budget operations, track and plan your finances. </h2>
        <a href="/login" class="btn-get-started">Get Started</a>
    </div>
</section>



</body>
</html>